.heading
    {
    color: lavender;
        height: 60%;
    background-image: url(/Users/lawn/Downloads/IMG_2680.JPG);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    
    margin: 5%;
    border-style: hidden;
    border-radius: 20px;
}

h1{
    font-size: 40px;
}
